<tr class="child" id="direction_new">
<% new_child = Person.new %>

<%= form.fields_for :children, new_child, :child_index => ->{ (Time.now.to_f * 1000000).to_i } do |ff| %>
    <td><%= h("") %></td>
    <td>
      <%= ff.text_field :firstName %>
    </td>
    <td>
      <%= ff.text_field :lastName %>
    </td>
    <td>
    &nbsp;
    </td>
<% end %>
</tr>
