<p id="notice"><%= notice %></p>

<h1>Addresses</h1>

<table>
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <%= render :partial => "people/person_row", :locals => {:person => address.adressee} %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_person_path %>
